@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-webkit-viewport{width:device-width;}
@viewport{width:device-width;}

/* 와이드 모니터 */
@media screen and (min-width : 1921px){
    #wrap{width: 1920px;}
}
/* 와이드 모니터 */

/* 일반 모니터 */
@media screen and (max-width: 1920px) and (min-width: 1024px){
    
}
/* 일반 모니터 */

/* 태블릿 */
@media screen and (max-width: 1023px) and (min-width: 768px){
}
/* 태블릿 */

/* 모바일 */
@media only screen and (max-width: 767px){
    /*widht: 95.7% = 750px 일때 718px*/
    #wrap{width: 100%;
            max-width: 767px;}
    html{font-size: 10px;}
    #banner{width: 100%;
                max-width: 767px;
                height: 640px;
                overflow: hidden;}
    .banner_slide{height: 100%;
                    width: 200%;}
    .banner_box{width: 100%;
                    height: 640px;
                    position: relative;
                    float: left;}
    
    .banner_back{width: 100%;
                    height: 640px;}
    .banner_text{margin-top: 10vw;
                    left: 5vw;
                    z-index: 2;}
    .banner_text p{font-size: 8vw;}
    .banner_text span{font-size: 5vw;}
    .banner_text button{width: 10vw;
                            height: 4.5vw;
                            font-size: 2vw;
                            line-height: 2vw;}
    .big_ellip{width: 153vw;
                    height: 153vw;
                    left: 0;
                    top: 20%;}
    .small_ellip{display: none;}
    .m_small_ellip{display: block;
                        position: absolute;
                        top: 60%;}
    .banner_img{top: 25%;
                    left: 15%;
                    position: absolute;}
    .smart_img img{width: 50vw;}
    .banner_smart{display: block;}
        .banner_blossom{opacity: 1;}
    .blossom_img img{width: 82vw;}
        .banner_ink{opacity: 1;}
    .ink_img{top: 28%;}
    .ink_img img{width: 42vw;}
    .ink_text,.fountain_text{top: 0;}
    .banner_fountain{opacity: 1;}
    .fountain_img img{width: 34vw;}
    
    
    /* story */
    #story{width: 95.7%;
                margin-top: 30px;}
    #story > p{font-size: 1.8rem;}
    
    .story_box{width: 100%;
                margin: 0 auto;
                margin-top: 20px;}
    .friend,.since,.global{width: 100%;

                                float: none;
                                margin: 0 auto;
                                margin-top: 13px;}
    .friend img,.since img,.global img {width: 102.9%;}
  
    .story_img_box{width: 100%;
                        height: 46.4vw;
                        margin: 0 auto;
                        overflow: hidden;}
    .body_text{margin-top: 0;}
    .body_text p{font-size: 1.2rem;
                    line-height: 18px;
                    margin-top: 5px;}

    /* story */
    .more_btn{display: none;} 
    /* product */
    #product{width: 95.7%;
                max-width: 767px;
                margin-top: 30px;}
    #product h2{font-size: 2.2rem;
                    letter-spacing: 0;}
    .product_more{margin-right: 10px;}
    
    .kategorie{width: 72.1%;
                    margin: 0 auto;
                    overflow: hidden;
                    margin-top: 18px;}
    .kategorie ul{width: 100%;}
    .kategorie li{width: 15.4%;
                    height: 30px;
                    font-size: 1.2rem;
                    border-bottom: none;
                    margin-left: 10.6%;}
    .kategorie li:first-child{margin-left: 3%;}
    .kategorie .tap{background: none;
                        width: 15.4%;
                        height: 30px;
                        
                        border-bottom: 2px solid #EF151E;}
    
    .product_item{width: 100%;
                    margin-top: 19px;}
    .item_box{width: 48.7%;
                margin-left: 0;
                height: 80.4vw;
                padding-bottom: 10%;}
    .item_box:first-child{margin-left: 0;}
    .item_box:nth-child(2n){margin-left: 2.6%;}
    .item_box:nth-child(3),
    .item_box:nth-child(4){display: none;}
    .item_text{bottom: 5px;
                    width: 100%;
                    left: 2.6vw;}
    .item_text span{font-size: 1rem;}
    .item_text p{font-size: 1.4rem;
                    margin-top: 0;
                    line-height: 24px;}
        /* pen */
    .item_smartpen img{width: 50vw;
                            margin-left: -3.5vw;}
    .item_fx153 img{width: 40vw;
                        margin-left: 2.82vw;}
    .item_fxzeta img{width: 36.97vw;
                        margin: -10.5vw 0 0 -5.93vw;}
    .item_line_fountain img{width: 21.05vw;
                                margin: 3.44vw 0 0 -0.5vw;}
        /* pen */
        /* marker */
    .item_twin109 img{width: 50vw;
                        height: 39.47vw;
                        margin: 0 0 0 -1vw;}
    .item_twin_brush img{width: 38.15vw;
                            margin: 3.28vw 0 0 -6.26vw;}
    .item_live_color img{width: 28.15vw;
                            margin: -3.94vw -0 0 -1.5vw;}
    .item_plus_neon img{width: 25.52vw;
                            margin: 1vw 0 0 -1.5vw;}
        /* marker */
        /* highlighter */
    .item_essenti img{width: 23.15vw;
                            margin: 3.94vw 0 0 0vw;}
    .item_essenti_stick img{width: 26.05vw;
                                margin: 1.31vw 0 0 -1.5vw;}
    .item_adding_jumbo img{width: 33.81vw;
                                margin: 2.63vw 0 0 -5.60vw;}
    .item_adding_super img{width: 23.68vw;
                                margin: 3.94vw 0 0 -1vw;}
        /* highlighter */
        /* etc */
    .item_neo_sharp img{width: 20.52vw;
                            margin: 3.94vw 0 0 1.63vw;}
    .item_sharp_lead img{width: 22.36vw;
                            margin: 7.89vw 0 0 0.5vw;}
    .item_pencil img{width: 22.36vw;
                        margin: 5.26vw 0 0 1vw;}
    .item_gripix img{width: 25.34vw;
                        margin: 8.57vw 0 0 -1.91vw;}
        /* etc */

    .product_item .item_box:nth-child(5){display: none;}
    /* product */
    
    /* promotion_banner */
    .promotion_banner{display: none;}
    /* promotion_banner */
    
    /* concept_store */
    #concept_store{width: 95.7%;
                        margin-top: 30px;
                        overflow: hidden;}
    .concept_text h2{font-size: 2.2rem;}
    .concept_text p{font-size: 1.2rem;}
    .concept_box{margin-top: 10px;
                    width: 100%;}
    
    .store_box{width: 86.3%;
                height: 77.3vw;
                margin-left: 6.85%;
                float: left;}
    .concept_img{width: 100%;
                    height: 53.2vw;
                    background-color: #dcdcdc;}
    .concept_img img{width: 100%;}
    .store_suzi img{margin-left: 0;}
    .store_insadong img{margin-left: 0;}
    .store_everland img{margin-left: 0;}
    
    
    .store_name{font-size: 1.8rem;
                    line-height: 28px;
                    margin-bottom: 2px;
                    text-align: center;}
    .store_text{font-size: 0.7rem;
                    text-align: center;}
    /* concept_store */
    
    /* story_pick */
    #story_pick{width: 95.7%;
                    margin-top: 30px;}
    #story_pick h2{font-size: 2.2rem;}
    
    .story_pick_gallery{width: 95.7%;
                            margin-top: 20px;}
    
    .story_pick_box{width: 100%;
                        height: 130px;
                        margin-left: 0;}
    .story_pick_box img{display: block;}
    .story_pick_img{width: 44.5%; background-color: #999;
                        height: 80.3%;
                        display: block;
                        top: 4vw;
                        left: 8px;
                        overflow: hidden;}
    .story_pick_1 .story_pick_img img{width: 100%;
                                        margin: 0;}
    .story_pick_2 .story_pick_img img{width: 100%;}
    .story_pick_3 .story_pick_img img{width: 100%;}
    .story_tap{height: 130px;
                    background-color: #fff;}
    .story_pick_name{position: absolute;
                        left: 50.1%;
                        top: -20px;}
    .story_pick_name span{font-size: 0.8rem;}
    .story_pick_name p{font-size: 1.6rem;
                            line-height: 20px;}
    .story_pick_date{right: 30%;}
    .story_pick_date span{font-size: 0.8rem;}
    
    .story_pick_3 .story_pick_date{margin-top: 4vw;}
    /* story_pick */
    
    /* footer */
    footer{width: 100%;
                max-width: 767px;
                height: 200px;
                position: relative;}
    .footer_wrap{width: 100%;}
    .footer_logo{float: none;
                    position: absolute;
                    top: 2px;
                    width: 108px;
                    left: 50%;
                    margin-left: -54px;}
    .footer_logo img{width: 108px;}
    .footer_top{border-bottom: 0px;
                    width: 72%;
                    margin: 0 auto;}
    .footer_top ul{padding-top: 58px;
                    width: 100%;
                    margin-left: 0;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #a0a0a0;}
    .footer_top li{font-size: 0.8rem;
                        margin-right: 4.31%;}
    .footer_top li:nth-child(5){display: none;}
    .footer_top li:last-child{margin-right:0;}
    .footer_top li:first-child{margin-left: 2%;}
    
    .footer_text{font-size: 0.7rem;
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 20px;
                    float: none;}
    
    .footer_wrap .sns{display: none;}
    .family_site{display: none;}
    /* footer */
} 
/* 모바일 */