@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-webkit-viewport{width:device-width;}
@viewport{width:device-width;}

/* 와이드 모니터 */
@media all and (min-width : 1921px){
    #wrap{width: 1920px;}
}
/* 와이드 모니터 */

/* 일반 모니터 */
@media all and (max-width: 1920px) and (min-width: 1024px){
    
}
/* 일반 모니터 */

/* 태블릿 */
@media all and (max-width: 1023px) and (min-width: 768px){
}
/* 태블릿 */

/* 모바일 */
@media all and (max-width: 767px){
    #wrap{width: 100%;
                min-width: 100%;
                overflow: hidden;}
    header{width: 100%;
                height: 50px;
                border-bottom: 1px solid #222;}
    .rang{display: none;}
    .hamburger{display: block;}
    #logo{width: 71px;
            height: 17px;
            padding-top: 0;}
    #logo img{width: 71px;}
    .util,.nav_header{display: none;}
    
    #banner{width: 100%;
                max-width: 767px;
                height: 600px;
                overflow: hidden;}
    .banner_box{width: 100%;
                    height: 600px;
                    position: relative;
                    float: left;}
    .banner_back{width: 100%;}
    .banner_text{margin-top: 10vw;
                    left: 5vw;
                    z-index: 2;}
    .banner_text p{font-size: 8vw;}
    .banner_text span{font-size: 5vw;}
    .banner_text button{width: 10vw;
                            height: 4.5vw;
                            font-size: 2vw;
                            line-height: 2vw;}
    .big_ellip{width: 153vw;
                    height: 153vw;
                    left: 0;
                    top: 20%;}
    .small_ellip{display: none;}
    .m_small_ellip{display: block;
                        position: absolute;
                        top: 60%;}
    .banner_img{top: 25%;
                    left: 15%;}
    .smart_img img{width: 50vw;}
    .banner_smart{display: block;}
        .banner_blossom{opacity: 1;}
    .blossom_img img{width: 82vw;}
        .banner_ink{opacity: 1;}
    .ink_img{top: 28%;}
    .ink_img img{width: 42vw;}
    .ink_text,.fountain_text{top: 0;}
    .banner_fountain{opacity: 1;}
    .fountain_img img{width: 34vw;}
    
    
    /* story */
    #story{width: 98%;}
    #story > p{font-size: 24px;}
    
    .story_box{width: 100%;
                margin: 0 auto;
                margin-top: 5vw;}
    .friend,.since,.global{width: 95%;
                                float: none;
                                margin: 0 auto;
                                margin-top: 4vw;}
    .story_img_box{width: 95%;
                        height: 170px;
                        margin: 0 auto;}
    .body_text{margin-top: 2vw;}

    /* story */
    .more_btn{display: none;} 
    /* product */
    #product{width: 98%;
                height: 430px;
                max-width: 767px;}
    #product h2{font-size: 24px;}
    .product_more{margin-right: 10px;}
    
    .kategorie{width: 100%;
                    margin: 0 auto;
                    overflow: hidden;
                    margin-top: 10vw;}
    .kategorie ul{width: 100%;}
    .kategorie li{width: 25%;
                    height: 5.26vw;
                    font-size: 3vw;}
    .kategorie .tap{background-position: 50% 5vw;}
    
    .product_item{width: 100%;}
    .item_box{width: 23.5%;
                height: 180px;
                margin-left: 1%;}
    .item_box:first-child{margin-left: 0;}
    .item_box:nth-child(4){}
    .item_text{bottom: 5px;
                    width: 100%;
                    left: 0;}
    .item_text span{display: none;}
    .item_text p{font-size: 2.2vw;
                    text-align: center;}
        /* pen */
    .item_smartpen img{width: 29.73vw;
                            margin-left: -3.5vw;}
    .item_fx153 img{width: 23.68vw;
                        margin-left: 0.62vw;}
    .item_fxzeta img{width: 36.97vw;
                        margin: -10.5vw 0 0 -5.93vw;}
    .item_line_fountain img{width: 21.05vw;
                                margin: 3.44vw 0 0 -0.5vw;}
        /* pen */
        /* marker */
    .item_twin109 img{width: 23.28vw;
                        height: 39.47vw;
                        margin: 0 0 0 -1vw;}
    .item_twin_brush img{width: 38.15vw;
                            margin: 3.28vw 0 0 -6.26vw;}
    .item_live_color img{width: 28.15vw;
                            margin: -3.94vw -0 0 -1.5vw;}
    .item_plus_neon img{width: 25.52vw;
                            margin: 1vw 0 0 -1.5vw;}
        /* marker */
        /* highlighter */
    .item_essenti img{width: 23.15vw;
                            margin: 3.94vw 0 0 0vw;}
    .item_essenti_stick img{width: 26.05vw;
                                margin: 1.31vw 0 0 -1.5vw;}
    .item_adding_jumbo img{width: 33.81vw;
                                margin: 2.63vw 0 0 -5.60vw;}
    .item_adding_super img{width: 23.68vw;
                                margin: 3.94vw 0 0 -1vw;}
        /* highlighter */
        /* etc */
    .item_neo_sharp img{width: 20.52vw;
                            margin: 3.94vw 0 0 1.63vw;}
    .item_sharp_lead img{width: 22.36vw;
                            margin: 7.89vw 0 0 0.5vw;}
    .item_pencil img{width: 22.36vw;
                        margin: 5.26vw 0 0 1vw;}
    .item_gripix img{width: 25.34vw;
                        margin: 8.57vw 0 0 -1.91vw;}
        /* etc */

    .product_item .item_box:nth-child(5){display: none;}
    /* product */
    
    /* promotion_banner */
    .promotion_banner{width: 100%;
                        height: 100%;
                        margin-top: 30px;}
    .promotion_banner img{width: 100%;}
    /* promotion_banner */
    
    /* concept_store */
    #concept_store{width: 95%;
                        margin-top: 10vw;}
    .concept_text h2{font-size: 24px;}
    .concept_text p{font-size: 12px;}
    
    .store_box{width: 100%;
                height: 130px;
                float: none;
                margin-left: 0;
                border-top: 1px solid #9f9f9f;}
    .store_box:last-child{border-bottom: 1px solid #9f9f9f;}
    .concept_img{width: 150px;
                    height: 110px;
                    float: left;
                    margin-right: 3vw;
                    margin-top: 10px;}
    .concept_img img{width: 167px;}
    .store_suzi img{margin-left: 0;}
    .store_insadong img{margin-left: -10px;}
    .store_everland img{margin-left: -5px;}
    .store_name{font-size: 13px;
                    margin-top: 10px;}
    .store_text{font-size: 10px;}
    /* concept_store */
    
    /* story_pick */
    #story_pick{width: 95%;
                    margin-top: 20vw;}
    #story_pick h2{font-size: 24px;}
    
    .story_pick_box{width: 100%;
                        height: 130px;}
    .story_pick_box img{display: block;}
    .story_pick_img{width: 150px; background-color: #999;
                        height: 110px;
                        display: block;
                        top: 10px;
                        left: 0;}
    .story_pick_1 .story_pick_img img{width: 165px;
                                        margin: 0 0 0 -5px;}
    .story_pick_2 .story_pick_img img{width: 185px;}
    .story_pick_3 .story_pick_img img{width: 185px;}
    .story_tap{height: 130px;
                    background-color: #fff;}
    .story_pick_name{position: absolute;
                        left: 140px;
                        top: -20px;}
    .story_pick_name span{font-size: 10px;}
    .story_pick_name p{font-size: 13px;
                            line-height: 20px;}
    .story_pick_date{left: 34px;}
    .story_pick_date span{font-size: 8px;}
    /* story_pick */
    
    /* footer */
    footer{width: 100%;
                max-width: 767px;
                height: 200px;
                position: relative;}
    .footer_logo{float: none;
                    position: absolute;
                    top: 2px;
                    width: 80px;
                    left: 50%;
                    margin-left: -40px;}
    .footer_logo img{width: 80px;}
    .footer_top{border-bottom: 0px;}
    .footer_top ul{padding-top: 58px;
                    width: 100%;}
    .footer_top li{font-size: 2vw;
                        margin-right: 1%;}
    
    .footer_text{font-size: 3vw;
                    position: absolute;
                    margin: 0;
                    left: 10px;
                    top: 80px;}
    .family_site{display: none;}
    /* footer */
} 
/* 모바일 */